<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}JRSMercurial{% endblock %}</title>
    {% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/jrsmercurial/foundation/css/normalize.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/jrsmercurial/foundation/css/foundation.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/jrsmercurial/foundation/icons/foundation-icons.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/jrsmercurial/css/style.css') }}">
    <style>
        body {
            background-color: #e6e6e6;
            background-image: radial-gradient(circle, #003566 0%, #002547 100%);
        }
        .shadow {
            -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
            -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
        }
    </style>
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
{% block body %}{% endblock %}
{% block javascripts %}
<script src="{{ asset('bundles/jrsmercurial/foundation/js/vendor/jquery.js') }}"></script>
<script src="{{ asset('bundles/jrsmercurial/foundation/js/vendor/fastclick.js') }}"></script>
<script src="{{ asset('bundles/jrsmercurial/foundation/js/foundation.min.js') }}"></script>
<script>$(function() {$(document).foundation();});</script>
{% endblock %}
</body>
</html>
